@import url(
	'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap'
);

html {
	scroll-behavior: smooth;
}

/*--------ScrollBar--------*/
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #000; 
}
::-webkit-scrollbar-thumb {
	background: #dc2626; 
    border-radius: 999px;
}

/*--------Title Page--------*/
.MainText {
	color: #dc2626;
	font-size: 1.5rem;
	line-height: 2rem;
	padding: 0.75rem;
	font-weight: 700;
	text-transform: capitalize;
	user-select: none;
}

/*--------Buttons Menu--------*/
.btnMenu {
	padding: 8px;
	margin: 0 10px 0 10px;
	font-size: 1.125rem;
	line-height: 1.75rem;
	color: #cccccc;
	text-decoration: none;
	text-transform: capitalize;
	transition: .4s ease;
}

.btnMenu::after {
	content: '';
	position: absolute;
	background: #dc2626;
	width: 20px;
	height: 3px;
	margin-top: 30px;
	left:-0px;
	opacity:0;
	transition: .7s ease;
}

.btnMenu:hover {
	transform: translate3d(0, -0px, 0);
	color: #ffffff;
}

.btnMenu:hover::after {
	width: 100%;
	height: 3px;
	transition: .4s ease;
	opacity: 1;
}
